# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [390]:
# Your code here
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df=pd.read_csv(url)
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [392]:
df.shape # Identify the dimensions of the dataset by determining the number of rows and columns it contains.

(4008, 11)

In [394]:
#to determine the data types of each column 
df.info() 
#highest number of non-null values is 1071 from the 4008 rows leaving 2937 nan rows
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

Customer                     2937
ST                           2937
GENDER                       3054
Education                    2937
Customer Lifetime Value      2940
Income                       2937
Monthly Premium Auto         2937
Number of Open Complaints    2937
Policy Type                  2937
Vehicle Class                2937
Total Claim Amount           2937
dtype: int64

In [396]:
df.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [398]:
# Evaluate whether they are appropriate for the nature of the variable. 
# Provide suggestions for fixing any incorrect data types.

# Customer (object) - OK to keep as object if used as identifier otherwise can be converted to category. 
# ST (object) - can be kept as object or be converted to category.
# GENDER (object) - can be converted to category  
# Education (object) - OK as an object or can be converted to category
# Customer Lifetime Value (object) - should be numerical (float64)

df['Customer Lifetime Value'] = (
    df['Customer Lifetime Value']
    .astype(str)
    .str.replace(r'[^0-9.]', '', regex=True)  # Remove %, $, commas, etc.
    .replace('', pd.NA)                       # Convert empty strings to NA
    .astype('Float64')                        # Use nullable float
)
# Income (float64)- OK as it is a numerical value.
# Monthly Premium Auto (float64) - OK 
# Number of Open Complaints (object) - Should be numeric (int64)

# Split into three separate components
complaint_parts = df['Number of Open Complaints'].astype(str).str.split('/', expand=True)

# Rename the columns
complaint_parts.columns = ['Resolved Complaints', 'Open Complaints', 'Pending Complaints']

# Convert each part safely to nullable integers
for col in complaint_parts.columns:
    complaint_parts[col] = pd.to_numeric(complaint_parts[col], errors='coerce').astype('Int64')

# Assign back to the original DataFrame
df = df.join(complaint_parts)


    # Converted Customer Lifetime Value and Number of Open Complaints to numerical types (float and integer) without modifying 
    # their null values, to be able to use .describe() later on.

# Policy Type (object) - ok could be converted to category
# Vehicle Class (object) - Categorical data type is OK.
# Total Claim Amount (float64) - OK numeric type.

In [400]:
# Identify the number of unique values for each column and determine which columns appear to be categorical. 
# You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
df.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
Resolved Complaints             1
Open Complaints                 6
Pending Complaints              1
dtype: int64

In [402]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   Float64
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
 11  Resolved Complaints        1071 non-null   Int64
 12  Open Complaints            1071 non-null   Int64
 13  Pending Complaints         1071 non-null   Int64
dtypes: Float64(1), Int64(3), float64(3), object(7)
memory usage: 454.2+ KB

In [404]:
df.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
Resolved Complaints             1
Open Complaints                 6
Pending Complaints              1
dtype: int64

In [406]:
#Insights & Suggestions

#Categorical Columns (type shows object, best as categorical value).
    #Converting categorical columns (ST, GENDER, Education, Policy Type, Vehicle Class) to category type:

df['ST'] = df['ST'].astype('category')
df['GENDER'] =df['GENDER'].astype('category')
df['Education'] = df['Education'].astype('category')
df['Policy Type'] = df['Policy Type'].astype('category')
df['Vehicle Class'] = df['Vehicle Class'].astype('category')
print(df.dtypes)
df[['ST','GENDER','Education', 'Policy Type', 'Vehicle Class']].apply(pd.Series.unique)
    #GENDER 6 unique values, it has not been recorded consistently as there are different results for the same category (i.e. F, Femal,Female)
    
#Numerical Columns (Likely float64 or int64 types)

    #Customer Lifetime Value (0 unique values) - Strange that it has 0 unique values, might be empty or incorrectly stored. Needs further investigation.
    
    #Income (774 unique values) - A continuous variable representing income. Keep as float64.

    #Monthly Premium Auto (132 unique values) - Numeric, representing an amount in dollars?. Keep as float64.

    #Number of Open Complaints (2 unique values) - Suspicious, possibly incorrected formatted.

    #Total Claim Amount (761 unique values) - Financial values, likely continuous. Keep as float64.
#Check numerical columns for extreme outliers by using:
    #df.describe()

Customer                       object
ST                           category
GENDER                       category
Education                    category
Customer Lifetime Value       Float64
Income                        float64
Monthly Premium Auto          float64
Number of Open Complaints      object
Policy Type                  category
Vehicle Class                category
Total Claim Amount            float64
Resolved Complaints             Int64
Open Complaints                 Int64
Pending Complaints              Int64
dtype: object

ST               ['Washington', 'Arizona', 'Nevada', 'Californi...
GENDER           [NaN, 'F', 'M', 'Femal', 'Male', 'female']
Cat...
Education        ['Master', 'Bachelor', 'High School or Below',...
Policy Type      ['Personal Auto', 'Corporate Auto', 'Special A...
Vehicle Class    ['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxu...
dtype: object

In [408]:
#Compute summary statistics such as mean, median, mode, standard deviation, and quartiles 
# to understand the central tendency and distribution of the data for numerical columns. 
# You should also provide your conclusions based on these summary statistics.
df.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount,Resolved Complaints,Open Complaints,Pending Complaints
count,1068.0,1071.000000,1071.000000,1071.000000,1071.0,1071.0,1071.0
mean,793690.259345,39295.701214,193.234360,404.986909,1.0,0.394024,0.0
std,643478.410278,30469.427060,1601.190369,293.027260,0.0,0.883769,0.0
min,200435.07,0.000000,61.000000,0.382107,1.0,0.0,0.0
25%,403407.995,14072.000000,68.000000,202.157702,1.0,0.0,0.0
50%,588174.235,36234.000000,83.000000,354.729129,1.0,0.0,0.0
75%,896287.1975,64631.000000,109.500000,532.800000,1.0,0.0,0.0
max,5816655.35,99960.000000,35354.000000,2893.239678,1.0,5.0,0.0

In [410]:
# Customer Lifetime Value
    # Count: 1068 values after cleaning
    # High mean and max compared to the median indicating a right-skewed distribution with large outliers.
    # Standard deviation is high meaning that the variability in customer value is very large.
    # Suggests a small number of high-value customers are inflating the average.

# Income
    # Distribution appears fairly symmetric (mean ≈ median).
    # A few people have zero income, which may indicate trainees or missing info.
    # Moderate variability (std around 30k) is expected for income.

# - The min and max values reveal that there are customers without a declared income and others with a high income
    # - The standard deviation confirms that there is a high variation between incomes
    # - We can see that the distribution is wide, but the majority of the clients stand between 14k and 65k

# Monthly Premium Auto
    # Very large standard deviation and extreme outlier at 35,354 (this is likely a data entry error).
    # Mean is significantly inflated by this outlier — median is much lower (83), likely more representative.
    # Outlier needs reviewing.

#Total Claim Amount

    # The mean is slightly higher than the median, indicating a slight right skew.
    # The values are fairly close, suggesting that the data is roughly symmetrical with some outliers.

# Number of Open Complaints

    # Majority have 0 complaints.
    # some customers have multiple complaints (likely unhappy or problematic).
    # Very right-skewed, may be better as a categorical value (i.e. 0, 1, 2+).

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [412]:
# Get location frequencies
location_counts = df['ST'].value_counts()

# Top 5 least common locations in ascending order
least_common_locations = location_counts.nsmallest(5)
print(least_common_locations)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [414]:
# Number of policies per type
policy_counts = df['Policy Type'].value_counts()

# Policy type with the highest number of policies sold
most_common_policy = policy_counts.idxmax()   # index (policy type) of the max count
max_count = policy_counts.max()               # the maximum count itself

print("Total policies sold by type:\n", policy_counts)
print(f"\nMost sold policy type: {most_common_policy} with {max_count} policies sold.")

Total policies sold by type:
 Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Most sold policy type: Personal Auto with 780 policies sold.

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [416]:

# Step 1: Filter the DataFrame by policy type using .loc
personal_auto_df = df.loc[df['Policy Type'] == 'Personal Auto']
corporate_auto_df = df.loc[df['Policy Type'] == 'Corporate Auto']

# Step 2: Calculate the average income for each policy type
personal_auto_income_avg = personal_auto_df['Income'].mean()
corporate_auto_income_avg = corporate_auto_df['Income'].mean()

# Step 3: Print the results
print(f"Average income for clients with Personal Auto: ${personal_auto_income_avg:,.2f}")
print(f"Average income for clients with Corporate Auto: ${corporate_auto_income_avg:,.2f}")

Average income for clients with Personal Auto: $38,180.70
Average income for clients with Corporate Auto: $41,390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here